/* FOOTER */
footer { // Remplissage du bas de page
    color: white;
    position: absolute;
    left: 0;
    width: 100%;
    padding-bottom: $padding-div;
    background-color: $color-darkgrey;
    @include box-shadow-top;
    #footer__box  {  // Zone de texte
        margin-left: 25px;
        @include mobile-only {  // Texte en ligne en dessous du breakpoint mobile
        text-align: center;
        margin: auto;
        }
        ul {
            display: flex;
            flex-direction: column;
            text-align: left;
            list-style-type: none;
            padding: 0px;
            line-height: 30px;
            @include mobile-only { // Espacement et alignement en version tablet/desktop
                flex-direction: row;
                justify-content: space-evenly;
                max-width: 1200px;
                margin: auto;
            }
            li {
                i {
                width: 25px;
                }
                &:hover { // Apparence au survol
                    cursor: pointer;
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
        }
    }
}