/* BARRE DE NAVIGATION */
header {
    @include tablet-only { // Disparition en version tablette
        display: none;
    }
        nav { // Position logo
        display: flex;
        position: relative;
        justify-content: center;
        padding: $padding-icon;
        @include box-shadow-bottom;
        img { // Taille du logo
            max-width: 50%;
        }
        i { // Fleche retour sur les autres pages
            font-size: large;
            position: absolute;
            left: 20px;
            top: 18px;
        }
    }
}