/* BULLE HOME */
.bubble {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    margin: $margin-div auto;
    width: 100%;
    padding: $padding-icon;
    background-color: $color-lightgrey;
    @include tablet-only {
        margin: $margin-div;
    }
    @include border($border-bubble);
    @include box-shadow-bottom;
    @include hover_after; // Position, opacité et index ::after/:hover
    &::after {
        @include border($border-bubble);
        background-color: lighten($color-primary, 35);  
    }
    &:hover { 
        .bubble__icon { // Couleur pictogramme au survol
            color: $color-primary;        
        }
    }
    &__num { // Numéro
        position: absolute;
        color: white;
        font-size: smaller;
        text-align: center;
        left: -10px;
        padding: 3px;
        width: 23px;
        background-color: $color-primary;
        @include border(50%);
    }
    &__icon { // Pictogramme
        color: $color-grey;
        padding: $padding-icon;
    }
    &__text { // Texte
        width: 200px;
    }
}