/* CARTES RESTAURANTS */
.card { 
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: $margin-div auto;
    transition: transform .4s ease-in-out 50ms;
    @include border($border-card);
    @include box-shadow-bottom;
    @include tablet-only {
        width: 45%;
    }
    &__img { // Cadre image
        object-fit: cover;
        height: 170px;
        @include border($border-card);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        }
    &__new { // Icone "nouveau"
        position: absolute;
        font-size: small;
        font-weight: bold;
        right: 10px;
        background-color: lighten($color-new, 52);
        color: $color-new;
        padding: $padding-card;
        @include border(3px);
    }
    &__body { // Zone de texte
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: $padding-card;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        @include border($border-card);
        &--text p:first-child {
            font-weight: bold;
        }
        p { // Espacement du texte
            margin: $margin-text auto;
        }
    }
    &:hover { // Animation au survol
        transform: scale(1.03);
    }
}