/* FAVORIS */
.heart {
    cursor: pointer;
    font-size: x-large;
    .heart__full {
        background: -webkit-linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        position: absolute;
        z-index: 1;
        &:hover {
            opacity: 1;
            + .heart__empty {
                opacity: 0;
            }
        }
    }
}