/* PAGE */
* {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
   /* box-sizing est appliquÃƒÂ© ÃƒÂ  tous les ÃƒÂ©lÃƒÂ©ments */
}

body {
    max-width: 1200px;
    margin: auto;
}
