/* PAGE */
* {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}
html {
    // Fond desktop/tablet
    background: $color-primary;
    background: linear-gradient(0deg, rgba($color-primary,0.4) 0%, rgba($color-tertiary,0.4) 100%);
    // Corps de page
    body {
        max-width: $width; // Largeur max du contenu
        background: white;
        margin: auto;    
        @include box-shadow-top;
        }
}