/* POLICES ET TAILLES */
body {
    font-family: 'Roboto', sans-serif;
}

// Titres menus
h1 {
    font-family: 'Shrikhand', cursive; 
    font-weight: 100;
}

a {
    text-decoration: none;
    color: currentColor;
    display: contents;
}
// Logo footer
#footer__box {
    p {
        font-family: 'Shrikhand', cursive; 
        font-size: large;
    }
}