/* ACCUEIL */

// CHARGEMENT
#loading { // Position et fond du pictogramme
    background-color: $color-grey;
    background: radial-gradient(circle, $color-lightgrey 0%, darken($color-lightgrey, 10) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: xx-large;             
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;  
    animation: loading_fade .8s both 3.8s;
    &__icon { // Taille du pictogramme et rotation
        width: 28px;
        height: 32px;
        animation: loading_rotate 500ms both 3.5s;
    }
    .utensils-empty { // Animation de chargement
        color: $color-grey;
        position: absolute;
        overflow: hidden;
        animation: loading 2s forwards 1s;       
    }
    .utensils-full {
        color: $color-primary;
        position: absolute;
    }
}

// BARRE DE LOCALISATION ET DESCRIPTION
#info {
    &__zone { // Zone localisation version mobile
        background-color: darken($color-lightgrey, 5);
        display: flex;
        justify-content: center;
        .location { // Localisation version tablet/desktop
            @include location;
            @include tablet-only { 
                display: none;
            }
        }
    }
    &__box { // Zone description
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-lightgrey;
        text-align: center;
        padding: 40px;
        @include box-shadow-bottom($color-black);
        @include tablet-only { // Bordures et marges info
            margin: $margin-div;
            margin-top: 0px;
            @include border($border);
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        &--logo { // Logo en version tablet/desktop
            width: 32%;
            display: none;
            @include tablet-only {
                display: initial;
            }
        }
        .location { // Localisation en version tablet/desktop
            @include location;
            display: none;
            @include tablet-only {
                display: flex;
                background-color: darken($color-lightgrey, 5);
                @include box-shadow-bottom;
            }
        }
        &--btn { // Bouton 
            @include button;
            padding: 0px 20px;
        }
    }
}

#operation { // Zone fonctionnement
    margin: $margin-div;
    position: relative;
    &__box {
        display: flex;
        flex-direction: column;
        @include tablet-only { // Alignement en tablet/desktop
            flex-direction: row;
        }
    }
}

#restaurants { // Zone restaurants
    padding: $padding-div;
    background-color: $color-lightgrey;
    @include box-shadow-top;
    @include tablet-only { // Bordures et marges en desktop/tablet
        margin: $margin-div;
        margin-bottom: 0px;
        @include border($border);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &__card {
        @include tablet-only { // Alignement des cartes
            display: flex;
            flex-wrap: wrap;
        }
    }
}