.info_box {
    display: flex;
    flex-direction: column;
    #location {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(231, 231, 231);
        font-weight: bold;
        color: rgb(77, 77, 77);
        .fa-solid {
            padding: 10px;
            position: absolute;
            margin-right: 150px;
        }
    }
    #info {
        background-color: rgb(240, 240, 240);
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10%;
    }
}

.fonctionnement {
    margin: 20px;
    div {
        margin: 20px 5px;
    }
}

.bubble {
    margin: auto;
    
    > p {
        color: white;
        background-color: $color-primary;
        border-radius: 50%;
        font-size: smaller;
        padding: 3px;
        width: 23px;
        text-align: center;
        margin: 20px -10px;
        position: absolute;
    }
    span {
        background-color: rgb(240, 240, 240);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 20px;
        box-shadow: 0px 5px 10px rgb(224, 224, 224);
        padding: 7px;
        font-weight: bold;
        > :first-child {
            color: gray;
        }
        &:hover {
            background-color: lighten($color-primary, 35);
            > :first-child {
                color: $color-primary;
            }
        }
    }
}

