/* PAGES RESTAURANTS */
#background {
    img {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
}

/* TITRES */
#restaurant {
    padding: 20px ;
    background-color: #f0f0f0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -50px;
    position: relative;
    .title {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn {
        padding: 0px 50px;
        margin-bottom: 10%;
    }
}

/* MENU */
.menu {
    margin-bottom: 40px;
    &__title {
        color: gray;
        text-transform: uppercase;
        span {
            border-bottom: solid 3px $color-tertiary;
        }
    }
    &__box {
        cursor: pointer;
        background-color: white;
        padding: 2px 50px 2px 10px;
        margin-bottom: 15px;
        border-radius: 0.8rem;
        box-shadow: 0px 5px 10px #dddddd;
        position: relative;
        overflow: hidden;
        font-weight: bold;
        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin: 10px auto;
        }
        &--recipe {
            font-weight: normal;
        }
        &--price {
            position: absolute;
            right: 20px;
            bottom: 0px;
            transition:  300ms ease-in-out 100ms;
        }
        &--validate {
            font-size: x-large;
            color: white;
            position: absolute;
            right: -70px;
            bottom: 0px;
            height: 100%;
            width: 70px;
            border-top-right-radius: 0.8rem;
            border-bottom-right-radius: 0.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:$color-tertiary;
            transition: 400ms ease-in-out;
        }
        &:hover {
            padding-right: 120px;
            .menu__box--price {
                right: 80px;
            }
            .menu__box--validate {
                right: 0px;
                .fa-circle-check {
                    transform: rotate(360deg);
                    transition: transform 700ms;
                }
            }

        }
    }
}