/* PAGES RESTAURANTS */
#background { // Image du restaurant
    img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        @include tablet-only {
            height: 400px;
        }
    }
}

/* PAGE DU RESTAURANT */
.restaurant {  
    margin-top: -50px;
    position: relative;
    padding: $padding-div;
    background-color: $color-lightgrey;
    @include box-shadow-top;
    @include border($border);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    .title { // NOM DU RESTAURANT 
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__back { // Fleche retour
            display: none;
            @include tablet-only {
                display: initial;
            }
        }
        @include tablet-only {
            font-size: 25px;
        }
    }

    &__menu { // ZONE DES MENUS
        display: flex;
        flex-direction: column;
        @include tablet-only { // Alignement en tablet/desktop
            flex-direction: row;
            justify-content: space-between;
        }
        /* MENU */
        .menu {
            position: relative;
            @include tablet-only {
                width: 32%;
            }                

            &__title { // Type de plats
                color: $color-grey;
                text-transform: uppercase;
                span {
                    border-bottom: solid 3px $color-tertiary;
                }
                @include menu_box;
            }
            &__box { // Plats
                cursor: pointer;
                position: relative;
                margin-bottom: $margin-div;
                padding: 2px 50px 2px 15px;
                background-color: white;
                @include border(0.8em);
                overflow: hidden;
                font-weight: bold;
                transition: padding 350ms ease-in-out 50ms;
                @include box-shadow-bottom;
                @include menu_box;
                @include tablet-only {
                    @include menu_box(menu_show_tablet);
                }
                p { // Ellipse 
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin: $margin-text auto;
                }
                &--recipe {
                    font-weight: normal;
                }
                &--price {
                    position: absolute;
                    right: 20px;
                    bottom: 1px;
                    transition: 350ms ease-in-out 50ms;
                }
                &--validate { // Pictogramme validé et animation
                    background-color: $color-tertiary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: x-large;
                    color: white;
                    position: absolute;
                    width: 60px;
                    right: -60px;
                    bottom: 0px;
                    height: 100%;
                    @include border(0.8rem);
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    transition: 400ms ease-in-out;
                }
                &:hover { // Position du padding au survol
                    padding-right: 110px;
                    .menu__box--price {
                        right: 75px;
                    }
                    .menu__box--validate {
                        right: 0px;
                        .fa-circle-check { // Rotation du pictogramme
                            transform: rotate(360deg);
                            transition: transform 600ms 100ms;
                        }
                    }
                }
            }
        }
    }
    &__btn { // Bouton "Commander"
        @include button;
        padding: 0px 50px;
    }     
}