/* PAGES RESTAURANTS */
#background {
    img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        @include tablet-only {
            height: 400px;
        }
    }
}

/* TITRES */
.restaurant {
    padding: 20px ;
    background-color: #f0f0f0;
    box-shadow: rgb(0 0 0 / 15%) 0px -8px 10px 0px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -50px;
    position: relative;
    .title {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__back {
            display: none;
            @include tablet-only {
                display: initial;
            }
        }
        @include tablet-only {
            font-size: 25px;
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        @include tablet-only {
            flex-direction: row;
            justify-content: space-between;
        }
        /* MENU */
        .menu {
            position: relative;
            animation: .6s menu_show 300ms;
            @include tablet-only {
                animation: menu_show_tablet .6s both 300ms;
                width: 32%;
            }
            &__title {
                color: gray;
                text-transform: uppercase;
                animation: menu_show .8s both 200ms; 
                span {
                    border-bottom: solid 3px $color-tertiary;
                }
            }
            &__box {
                cursor: pointer;
                background-color: white;
                padding: 2px 50px 2px 15px;
                margin-bottom: 15px;
                border-radius: 0.8rem;
                box-shadow: 0px 5px 10px #dddddd;
                overflow: hidden;
                font-weight: bold;
                position: relative;
                transition: 400ms ease-in-out ;
                @include menu_box;
                p {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin: 6px auto;
                }
                &--recipe {
                    font-weight: normal;
                }
                &--price {
                    position: absolute;
                    right: 20px;
                    bottom: 1px;
                    transition: 350ms ease-in-out 50ms;
                }
                &--validate {
                    font-size: x-large;
                    color: white;
                    position: absolute;
                    right: -60px;
                    bottom: 0px;
                    height: 100%;
                    width: 60px;
                    border-top-right-radius: 0.8rem;
                    border-bottom-right-radius: 0.8rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $color-tertiary;
                    transition: 400ms ease-in-out;
                }
                &:hover {
                    padding-right: 110px;
                    .menu__box--price {
                        right: 75px;
                    }
                    .menu__box--validate {
                        right: 0px;
                        .fa-circle-check {
                            transform: rotate(360deg);
                            transition: transform 600ms 100ms;
                        }
                    }
                }
            }
        }
    }
    &__btn {
        @include button;
        padding: 0px 50px;
        margin-bottom: 40px;
    }     
}




