@mixin menu_box ($animation: menu_show) { // Apparition des menues selon la résolution
    @each $var in $vars {
        &:nth-child(#{$var}) {
            $var : ($var * 200);
            animation: $animation 1000ms both #{$var}ms; 
        }        
    } 
}


@mixin button { // Bouton, dégradé et couleurs ::after
    display: flex;
    justify-content: center;
    color: white;
    width: fit-content;
    margin: $margin-div auto;
    background: linear-gradient($color-secondary, $color-primary);
    @include border($border);
    @include box-shadow-bottom;
    @include hover_after;
    &::after {
        background: linear-gradient(lighten($color-secondary, 10), lighten($color-primary, 10));
        @include border($border);
        @include box-shadow-bottom (darken($color-black, 10));        
    }
}

@mixin hover_after { // Propriété ::after/hover 
    cursor: pointer;
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: all .3s 50ms;
    }
}

@mixin location { // Recherche de localisation
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    color: $color-darkgrey;
    @include border($border-bubble);
    &--icon {
        position: relative;
        padding: 0px 5px;
        left: 7px;
        top: 16px;
    }
    &--city {
        cursor: pointer;
        padding: 0px 10px;
        &:hover {
            + #location--icon {
                animation: location .5s;
            }
        }
    }
}

@mixin mobile-only {
    @media screen and (min-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet)){
            @content;
    }
}

@mixin box-shadow-bottom ($color: $color-blacklight) {
    box-shadow: 0px 5px 10px $color;
}

@mixin box-shadow-top ($color:$color-black) {
    box-shadow: 0px -5px 10px $color;
}

@mixin border ($size:$border) {
    border-radius: $size;
}